 html,
 body {
   background-color: whitesmoke;
   margin: 0px;
 }

 .page {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .head {
   display: flex;
   background-color: #6C6C6C;
   width: 1200px;
 }


 .head_menu {
   display: flex;
   text-align: center;
   align-items: center;
 }

 .head_link {
   padding: 0 30px 0 30px;
   letter-spacing: 2px;
   font-size: 20pt;
 }

 .link {
   color: white;
   text-decoration: none;
 }

 .link:hover {
   text-decoration: underline white 3px;
 }

 .head_icon {
   float: right;
   margin-left: 400px;

 }

 /*祐晨用的css*/
 /*版面配置*/
 .content {
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
 }

 .insideleft {
   width: auto;
   height: auto;
 }

 footer {
   width: 1200px;
   text-align: center;
   color: white;
   float: left;

 }

 /*圖片*/
 .bgimg {
   /*背景圖片*/
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 600px;
   height: 300px;
   margin-left: 300px;
   padding: 20px;
 }

 .bgimg2 {
   /*背景圖片*/
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 400px;
   height: 270px;

 }

 hr {
   background-color: black;
   width: 1000px;
 }

 .body_text {
   /*登入/註冊分行*/
   columns: 2;
   column-rule: silver solid 1px;
   position: relative;
   margin-left: 100px;
   margin-right: 100px;
   margin-top: 25px;
   column-gap: 90px;
 }

 /*字形設定*/
 .singin_w {
   /*登入字型*/
   font-size: 48px;
   font-weight: bold;
   font-style: oblique;
 }

 button {
   column-span: all;
 }

 .e_w {
   /*英文字*/
   font-size: 32px;
 }

 .e_w_text {
   /*text內文字*/
   font-size: 25px;
   text-align: center;
 }

 table {
   font-size: 20px;
   margin: auto;
 }

 .h1_w {
   font-size: 40px;
 }

 .c_w {
   font-size: 20px;
 }

 .signout {
   font-size: 30px;
   outline: none;
   background-color: transparent;
   color: white;
   cursor: pointer;
   margin-left: 25px;
 }

 td {
   width: 500px;
 }